# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
env/
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# PyInstaller
*.spec
dist/
build/

# Logs
*.log

# Data and output
data/output/
*.tmp
*.bak

# System
.DS_Store
Thumbs.db

# Python tools
pip-log.txt
pip-delete-this-directory.txt

# Model / temp cache
.cache/
.obfuscation_cache/

# IDEs
.idea/
*.swp

# Secrets



# Tests folder and test files
tests/
JavaScriptSamplesPairs/
parser_tester.py

#Scripts folder
node_modules/



models_obf_result/*
!models_obf_result/controller.py

complexity_analysis_output.json
*.json
!obfuscation_techniques.json

corrected_obfuscated_code*
obfuscated_code*
obfuscated_final*

ghidra_output